/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
    font-size:16px;
    max-width: 1400px;
    margin: 0 auto;
    /* Lætur skroll innan síðu taka tíma */
    scroll-behavior: smooth;
  }
  
 






  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Breytur sem skal nota */
  
  :root {
    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;
    /* Hámarksbreidd á efni */
    --max-width: 1200px;
  
    --color-primary: #f0f0f8;
  
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;
  
    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
    --font-family-heading: 'Domine', Georgia, serif;
  }
  
  /* Leturgerðir */
  
  /* TODO Setja upp leturgerðir */
  
  /* Almennt */
  
  body {
    color: var(--color-text);
    font-size: var(--font-base-body-px);
    line-height: 1.5;
    font-family: var(--font-family-base);
  }
  
  h1, h2, h3 {
    font-family: var(--font-family-heading);
} 
    

  
  
  img {
    max-width: 100%;
    /* max-height: 100%; */
  }
  
  .button {
    display: inline-block;
  
    /* TODO útlit á button */

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    word-break: initial;
    text-decoration: none;
  }
  
  .button-secondary {
    /* margin-top: 1rem; */
    display: inline-block;
  

    background-color: rgb(224, 221, 221);

    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    word-break: initial;
    text-decoration: none;
  }
  
  
  /* Layout */
  
  main {
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  .info-boxes {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
  }
  
  /* Header */
  
  header {
    margin-bottom: 2rem;

  width: 100%;
  height: 100vh;

  display: flex;
    background-image: url("myndir/header.jpg");
    background-size: cover;
  background-attachment: fixed;
  
  }
  
  header .content {
    margin: auto;
    text-align: center;
    color: #eeeeee;
    
  }
  
  header h1 {
    font-size: 4vmax;
    text-align: center;
    margin-bottom: 2rem;


  }
  
  header p {
    font-size: 2vmax;
    text-align: center;
    margin-bottom: 2rem;
  }
  header a p {
    font-size: 3vmax;
    text-align: center;
    

  }


  /* TODO */
  
  /* Upplýsingasvæði */


 .mynd1 {

max-width: 50%;

padding: 2rem;


}

.info {
    display: flex;
    flex-direction: row;
    width: 90%;
}  
.reverserow{
    flex-direction: row-reverse;
  
}


.textwrap {
    display: flex;
    flex-direction: column;

justify-content: center;
padding: 2rem;
gap: 0.875rem;

}



.tiltright  {

    transform: rotate(3deg);
}
.tiltleft{
    transform: rotate(-3deg);

}

.kicker {
    font-weight: 0.875rem;
text-transform: uppercase;

    /* display: flex;*/

     /* margin-bottom: 1rem;  */

     
    /* padding: 0 1rem; 
      margin: 1rem; */

}





  
  /* TODO */
  
  /* Cards */

 
  
  .cards {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;

  
    
  }

  .card{
   
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
    
  }
  
  

  .cards .card img {
   
    margin-top: 1rem;
    height: 16rem;
    width: 95%;
    object-fit: cover;
    order:-1
    
    
    

  }

  
  .texti{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 10rem;
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
  }
    
.examples h2 {
    /* margin-top: 1rem; */
    margin-left: 1rem;
}

.buttonefni{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid white;

    padding: 0.5rem;
    word-break: initial;
    text-decoration: none;
}






  /* TODO */

  footer {
    margin-top: 1rem;
  padding: 1rem 0;
  background-color: #dcedf3;
  text-align: center;
  }